{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        athos/prejenter {:git/url "https://github.com/athos/prejenter.git"
                         :sha "4d792dd8ce562e536b9ef9d973c42c63784ece62"}}}
